# Datenbank Reisebüro - Meilenstein 3

<b> Anja A. <br>
Sebastian Karl <br>
Laura K.<b>

In [1]:
import oracledb
import pandas as pd

In [2]:
import oracledb
oracledb.init_oracle_client(lib_dir=r"C:\  \instantclient_19_11")

In [ ]:
username="a1"  #add db user name
password="" #add db password 
con_string="oracle19.cs.  /orclcdb"

In [4]:
#consider to use with in order to avoid open connections
connection = oracledb.connect(user=username,password=password,
                              dsn=con_string)
'''
with oracledb.connect(user=username,password=password, dsn=con_string) as connection:
    with connection.cursor() as cursor:
    ...
'''

'\nwith oracledb.connect(user=username,password=password, dsn=con_string) as connection:\n    with connection.cursor() as cursor:\n    ...\n'

## 3-1 Normalisierung (3.Normalform)

<b>Abkürzungen </b>

A ... RBNr <br>
B ... Standort <br>
C ... Eröffnungsjahr <br>
D ... MNr <br>
E ... Mitarbeiter.Vorname <br>
F ... Mitarbeiter.Nachname <br>
G ... Gehalt <br>
H ... Anzahl Mitarbeiter <br>
I ... PositionSeit <br>
J ... ID <br>
K ... Destination <br>
L ... Dauer <br>
M ... Preis <br>
N ... KNr <br>
O ... Kunde.Vorname <br>
P ... Kunde.Nachname <br>
Q ... Email <br>
R ... BNr <br>
S ... Abschlussdatum <br>
T ... Bezahlstatus <br>

<b>Funktionale Abhängigkeiten </b>

Reisebüro: A \$\rightarrow\$ B,C <br>
Mitarbeiter: D \$\rightarrow\$ E,F,G,A <br>
Chef: D \$\rightarrow\$ H,I <br>
Reise: J \$\rightarrow\$ K,L,M,A <br>
Kunde: N \$\rightarrow\$ O,P,Q <br>
Buchung: N,J,R \$\rightarrow\$ S,T <br>
Leitung, FührtZu und SchließtAb: trivial, da nur Primärschlüssel in der Relation vorhanden sind <br>

<b>Synthese Algorithmus für 3.NF </b>

1. Linkreduktion
2. Rechtsreduktion

Reisebüro: A \$\rightarrow\$ B,C <br>
<i>LR:</i> <br>
nur 1 Attribut links <br>
<i>RR:</i> <br>
B:  $\{ A \}^{+}$ = {A,C} <br>
C: $\{ A \}^{+}$ = {A,B} <br>
\$\Longrightarrow\$ bereits in 3.NF <br>

Mitarbeiter: D \$\rightarrow\$ E,F,G,A <br>
<i>LR:</i> <br>
nur 1 Attribut links <br>
<i>RR:</i> <br>
E:  $\{ D \}^{+}$ = {D,F,G,A} <br>
F: $\{ D \}^{+}$ = {D,E,G,A} <br>
G:  $\{ D \}^{+}$ = {D,E,F,A} <br>
A: $\{ D \}^{+}$ = {D,E,F,G} <br>
\$\Longrightarrow\$ bereits in 3.NF <br>

Chef: D \$\rightarrow\$ H,I <br>
<i>LR:</i> <br>
nur 1 Attribut links <br>
<i>RR:</i> <br>
H:  $\{ D \}^{+}$ = {D,I} <br>
I: $\{ D \}^{+}$ = {D,H} <br>
\$\Longrightarrow\$ bereits in 3.NF <br>

Reise: J \$\rightarrow\$ K,L,M,A <br>
<i>LR:</i> <br>
nur 1 Attribut links <br>
<i>RR:</i> <br>
K:  $\{ J \}^{+}$ = {J,L,M,A} <br>
L: $\{ J \}^{+}$ = {J,K,M,A} <br>
M:  $\{ J \}^{+}$ = {J,K,L,A} <br>
A: $\{ J \}^{+}$ = {J,K,L,M} <br>
\$\Longrightarrow\$ bereits in 3.NF <br>

Kunde: N \$\rightarrow\$ O,P,Q <br>
<i>LR:</i> <br>
nur 1 Attribut links <br>
<i>RR:</i> <br>
O:  $\{ N \}^{+}$ = {N,P,Q} <br>
P: $\{ N \}^{+}$ = {N,O,Q} <br>
Q:  $\{ N \}^{+}$ = {N,O,P} <br>
\$\Longrightarrow\$ bereits in 3.NF <br>

Buchung: N,J,R \$\rightarrow\$ S,T <br>
<i>LR:</i> <br>
$\{ N \}^{+}$ = {N} <br>
$\{ J \}^{+}$ = {J} <br>
$\{ R \}^{+}$ = {R} <br>
$\{ N,J \}^{+}$ = {N,J} <br
$\{ N,R \}^{+}$ = {N,R} <br>
$\{ J,R \}^{+}$ = {J,R} <br>
<i>RR:</i> <br>
S:  $\{ N,J,R \}^{+}$ = {N,J,R,T} <br>
T: $\{ N,J,R \}^{+}$ = {N,R,S,T} <br>
\$\Longrightarrow\$ bereits in 3.NF <br>

### Erstellung der Relationen

In [5]:
cursor=connection.cursor()
create_statement="""
CREATE TABLE Reisebuero (
	FNr 			INTEGER 		PRIMARY KEY,
	Standort 		VARCHAR(50) 		NOT NULL,
	Eroeffnungsjahr 	INTEGER 		NOT NULL CHECK (Eroeffnungsjahr <= 2025 AND Eroeffnungsjahr >= 1950)
);

CREATE TABLE Mitarbeiter (
	MNr 			INTEGER		PRIMARY KEY,
	Vorname 		VARCHAR(50)		NOT NULL,
	Nachname 		VARCHAR(50)		NOT NULL,
    Gehalt			NUMERIC(10,2)	NOT NULL CHECK (Gehalt >= 0),
	FNr 			INTEGER		NOT NULL ,
	FOREIGN KEY (FNr) REFERENCES Reisebuero ON DELETE CASCADE
);

CREATE TABLE Chef (
	MNr 			INTEGER 	PRIMARY KEY,
	AnzahlMitarbeiter 	INTEGER	DEFAULT 0 CHECK (AnzahlMitarbeiter >= 0),
	PositionSeit		DATE		NOT NULL,
	FOREIGN KEY (MNr) REFERENCES Mitarbeiter ON DELETE CASCADE
);

CREATE TABLE Leitung (
	FNr			INTEGER	UNIQUE,
	MNr			INTEGER 	UNIQUE,
	PRIMARY KEY	 (FNr, MNr),
	FOREIGN KEY (FNr) REFERENCES Reisebuero ON DELETE CASCADE,
	FOREIGN KEY (MNr) REFERENCES Chef ON DELETE CASCADE
);

CREATE TABLE Reise (
	ID			INTEGER		PRIMARY KEY,
	Destination		VARCHAR(100)	NOT NULL,
	Dauer			INTEGER		CHECK (Dauer >= 1),
	Preis			NUMERIC(10,2)	CHECK (Preis >= 0),
	FNr			INTEGER,
	FOREIGN KEY (FNr) REFERENCES Reisebuero ON DELETE SET NULL
);

CREATE TABLE FuehrtZu (
	Vorgaenger		INTEGER,
	Nachfolger		INTEGER,
	PRIMARY KEY (Vorgaenger, Nachfolger),
	FOREIGN KEY (Vorgaenger) REFERENCES Reise (ID) ON DELETE CASCADE,
FOREIGN KEY (Nachfolger) REFERENCES Reise (ID) ON DELETE CASCADE
);

CREATE TABLE Kunde (
	KNr			INTEGER		PRIMARY KEY,
	Vorname		VARCHAR(50)		NOT NULL,
	Nachname		VARCHAR(50)		NOT NULL,
    Email		VARCHAR(50)		NOT NULL,
    Stadt		VARCHAR(50)
);

CREATE TABLE Buchung (
	BNr			INTEGER,
	Abschlussdatum	INTEGER			NOT NULL , 
	Bezahlstatus		INTEGER		NOT NULL ,
	KNr			INTEGER		NOT NULL,
	ID			INTEGER		NOT NULL,
	PRIMARY KEY (BNr, KNr, ID),
	FOREIGN KEY (KNr) REFERENCES Kunde,
	FOREIGN KEY (ID) REFERENCES Reise
    );
CREATE TABLE SchliesstAb (
	ID 			INTEGER,
	KNr 			INTEGER,
	MNr 			INTEGER,
PRIMARY KEY (ID, KNr, MNr),
FOREIGN KEY (ID) REFERENCES Reise ON DELETE CASCADE,
FOREIGN KEY (KNr) REFERENCES Kunde ON DELETE CASCADE,
FOREIGN KEY (MNr) REFERENCES Mitarbeiter ON DELETE CASCADE
);


"""
#jedes einzelne statement wird executed 
for stmt in create_statement.strip().split(";"):
    stmt = stmt.strip()
    if stmt:
        cursor.execute(stmt)
connection.commit()

## 3-2 Datenbank-Triggers

### Auto-increment

In [6]:
#Einmalig Sequence erstellen
cursor.execute("""
CREATE SEQUENCE seq_fnr
START WITH 1
INCREMENT BY 1
NOCACHE
NOCYCLE
""")

In [7]:
cursor.execute("""
CREATE OR REPLACE TRIGGER trg_reisebuero_auto_incrt
BEFORE INSERT ON Reisebuero
FOR EACH ROW
BEGIN
  :NEW.FNr := seq_fnr.NEXTVAL;
END;
""")  
connection.commit()

In [8]:
#Test des Auto-increment-Trigger
cursor.execute("""INSERT INTO Reisebuero(Standort, Eroeffnungsjahr) VALUES ('Wien',2014)""")
connection.commit()
cursor.execute("""SELECT * FROM Reisebuero""")
for row in cursor.fetchall():
    print(row)

(1, 'Wien', 2014)

### Trigger mit Business Logic

Wenn ein Mitarbeiter eine Reise abschließt, dann erhält er eine 5%-ige Provision des Reisepreises.

In [9]:
###Test des Triggers mit Business Logic
cursor.execute("""SELECT seq_fnr.CURRVAL FROM DUAL""")
idx = cursor.fetchone()[0]

cursor.execute("""INSERT INTO Mitarbeiter(MNr, Vorname, Nachname, Gehalt, FNr) VALUES (1,'Maria','Müller',1500.00,:1)""", [idx])
connection.commit()

cursor.execute("""SELECT MNr, Vorname, Nachname, Gehalt, FNr FROM Mitarbeiter""")

for row in cursor.fetchall():
    print(row)

(1, 'Maria', 'Müller', 1500.0, 1)

In [10]:
cursor.execute("""
CREATE OR REPLACE TRIGGER incrt_mitarbeiter_anzahl
AFTER INSERT ON SchliesstAb
FOR EACH ROW
DECLARE
    preis NUMBER(10,2);
    gehalt NUMERIC(10,2);
 
BEGIN
    SELECT Preis INTO preis
    FROM Reise
    WHERE ID = :NEW.ID;

    SELECT Gehalt INTO gehalt
    FROM Mitarbeiter
    WHERE MNr = :NEW.MNr;

    IF gehalt < 2200 THEN
        UPDATE Mitarbeiter
        SET Gehalt = Gehalt + preis * 0.05
        WHERE MNr = :NEW.MNr;
    ELSE
        UPDATE Mitarbeiter
        SET Gehalt = 2200.00
        WHERE MNr = :NEW.MNr;
    END IF;
END;
""")

In [11]:
#Test des Triggers mit Business Logic
#255*0.05=12.75 // 98.99*0.05=4.9495 -> 12.75+4.9495=17.6995 +1500=1517.7
cursor.execute("""INSERT INTO Kunde(KNr, Vorname, Nachname, Email, Stadt) VALUES (1, 'Hubert', 'Gröger', 'hubertgroeger@gmx.at', 'Wien')""")
cursor.execute("""INSERT INTO Kunde(KNr, Vorname, Nachname, Email, Stadt) VALUES (2, 'Sabine', 'Rogger', 'sabinarogg@gmail.at', 'Linz')""")
cursor.execute("""INSERT INTO Reise(ID, Destination, Dauer, Preis, FNr) VALUES (1,'New York',3,255.00,:1)""", [idx])
cursor.execute("""INSERT INTO Reise(ID, Destination, Dauer, Preis, FNr) VALUES (2,'Köln',1,98.99,:1)""", [idx])
cursor.execute("""INSERT INTO SchliesstAb (ID, KNr, MNr) VALUES (1,1,1)""")
cursor.execute("""INSERT INTO SchliesstAb (ID, KNr, MNr) VALUES (2,2,1)""")
connection.commit()

cursor.execute("""SELECT MNr, Vorname, Nachname, Gehalt, FNr FROM Mitarbeiter""")

for row in cursor.fetchall():
    print(row)

(1, 'Maria', 'Müller', 1517.7, 1)

In [12]:
cursor.execute("""DELETE FROM SchliesstAb WHERE MNr = 1""")
connection.commit()

cursor.execute("""DELETE FROM Reise WHERE ID = 1""")
cursor.execute("""DELETE FROM Reise WHERE ID = 2""")
cursor.execute("""DELETE FROM Kunde WHERE KNr = 1""")
cursor.execute("""DELETE FROM Kunde WHERE KNr = 2""")
cursor.execute("""DELETE FROM Mitarbeiter WHERE MNr = 1""")
cursor.execute("""DELETE FROM Reisebuero WHERE Standort = 'Wien'""")
connection.commit()

## 3-3 Datengenerierung

### Inserts

In [13]:
from faker import Faker
fake=Faker("de_DE")

###Testdaten generieren funcs

def gen_Reisebuero(n):
    return [
        (
        fake.city(),
        fake.random_int(1950,2025)

        )for i in range (1, n+1)
    ]

def gen_Mitarbeiter(n, valid_FNr):
    return [
        (
        i,
        fake.first_name(),
        fake.last_name(),
        fake.random_int(1400,6000),
        fake.random_element(valid_FNr)
        )for i in range (1, n+1)
    ]

def gen_Reise(n,valid_FNr):
    return [
        (
        i,
        fake.city(),
        fake.random_int(1,30),
        fake.random_int(4000,6000),
        fake.random_element(valid_FNr)
        )for i in range (1, n+1)
    ]

def gen_Kunde(n):
    return [
        (
        i,
        fake.first_name(),
        fake.last_name(),
        fake.email(),
        fake.random_element(elements=("Wien", "Graz", "Linz", "Mondsee", "Krems", "Wiener Neustadt", "Innsbruck", "Tirol"))
        ) for i in range(1, n+1)
    ]

def gen_SchliesstAb(n,valid_ID,valid_KNr,valid_MNr):
    return [
        (
        fake.random_element(valid_ID),
        fake.random_element(valid_KNr),
        fake.random_element(valid_MNr),
        )for i in range (1, n+1)
    ]

def gen_Buchung(n,valid_ID,valid_KNr):
    return [
        (
        i,
        fake.random_int(2014,2025),
        fake.random_int(0,1),
        fake.random_element(valid_KNr),
        fake.random_element(valid_ID)
        )for i in range (1, n+1)
    ]


### insert statements funcs

def ins_Reisebuero(data):  #in dieser Function auch für Aufgabe 3-2 Insert into Bsp für auto increment reisebüro(ohne FNR, weil Auto incr)
    cursor.executemany("""INSERT INTO Reisebuero( Standort, Eroeffnungsjahr) VALUES (:1,:2)""",data)
    connection.commit()

def ins_Mitarbeiter(data):
    cursor.executemany("""INSERT INTO Mitarbeiter(MNr, Vorname, Nachname, Gehalt, FNr) VALUES (:1,:2,:3,:4,:5)""",data)
    connection.commit()

def ins_Reise(data):
    cursor.executemany("""INSERT INTO Reise(ID, Destination, Dauer, Preis, FNr) VALUES (:1,:2,:3,:4,:5)""",data)
    connection.commit()

def ins_Kunde(data):
    cursor.executemany("""INSERT INTO Kunde(KNr, Vorname, Nachname, Email, Stadt) VALUES (:1, :2, :3, :4, :5)""",data)
    connection.commit()

def ins_SchliesstAb(data):
      cursor.executemany("""INSERT INTO SchliesstAb (ID, KNr, MNr) VALUES (:1,:2,:3)""", data)
      
def ins_Buchung(data):
      cursor.executemany("""INSERT INTO Buchung (BNr, Abschlussdatum,Bezahlstatus, Knr,ID) VALUES (:1,:2,:3,:4,:5)""", data)


###function calls
ins_Reisebuero(gen_Reisebuero(5))

cursor.execute(" SELECT FNr FROM Reisebuero")
valid_FNr=[row[0] for row in cursor.fetchall()]


ins_Mitarbeiter(gen_Mitarbeiter(500,valid_FNr))

cursor.execute(" SELECT MNr FROM Mitarbeiter")
valid_MNr=[row[0] for row in cursor.fetchall()]


ins_Kunde(gen_Kunde(100000))

cursor.execute(" SELECT KNr FROM Kunde")
valid_KNr=[row[0] for row in cursor.fetchall()]


ins_Reise(gen_Reise(2000,valid_FNr))

cursor.execute(" SELECT ID FROM Reise")
valid_ID=[row[0] for row in cursor.fetchall()]


ins_SchliesstAb(gen_SchliesstAb(2000,valid_ID,valid_KNr,valid_MNr))

ins_Buchung(gen_Buchung(2000,valid_ID,valid_KNr))

### Kontrolle mit select statements:

In [14]:
cursor.execute("SELECT COUNT(*) FROM Reisebuero")
print("Anzahl der Einträge in Reisebüro: ", cursor.fetchone()[0])

cursor.execute("SELECT COUNT(*) FROM Mitarbeiter")
print("Anzahl der Einträge in Mitarbeiter: ", cursor.fetchone()[0])

cursor.execute("SELECT COUNT(*) FROM Reise")
print("Anzahl der Einträge in Reise: ", cursor.fetchone()[0])

cursor.execute("SELECT COUNT(*) FROM Kunde")
print("Anzahl der Einträge in Kunde: ", cursor.fetchone()[0])

cursor.execute("SELECT COUNT(*) FROM SchliesstAb")
print("Anzahl der Einträge in SchliesstAb: ", cursor.fetchone()[0])

cursor.execute("SELECT COUNT(*) FROM Buchung")
print("Anzahl der Einträge in Buchung: ", cursor.fetchone()[0])

Anzahl der Einträge in Reisebüro:  5
Anzahl der Einträge in Mitarbeiter:  500
Anzahl der Einträge in Reise:  2000
Anzahl der Einträge in Kunde:  100000
Anzahl der Einträge in SchliesstAb:  2000
Anzahl der Einträge in Buchung:  2000

### Queries

Gibt Kunden mit offenen Rechnungen aus.

In [15]:
cursor.execute("""
SELECT k.KNr, k.Nachname, k.Email
FROM Kunde k
WHERE k.KNr IN (
	SELECT b.KNr
	FROM Buchung b
WHERE b.Bezahlstatus = 0
GROUP BY b.KNr
HAVING COUNT(*) >= 1
)
""")

rows = cursor.fetchall()
for row in rows:
    print(row)

(214, 'Junitz', 'angela69@example.com')
(594, 'Kohl', 'ukallert@example.net')
(627, 'Schomber', 'kpaertzelt@example.com')
(636, 'Fiebig', 'pzahn@example.com')
(417, 'Birnbaum', 'liliana68@example.net')
(425, 'Misicher', 'marek65@example.com')
(454, 'Mende', 'uschi57@example.net')
(475, 'Dobes', 'utescheibe@example.org')
(1582, 'Johann', 'gerardmargraf@example.com')
(1604, 'Bauer', 'zbinner@example.com')
(1673, 'Werner', 'anetanerger@example.org')
(1691, 'Schomber', 'gcaspar@example.net')
(959, 'Ritter', 'ernestine05@example.org')
(1135, 'Löchel', 'bohlanderhenning@example.net')
(1169, 'Hornich', 'dweitzel@example.net')
(1196, 'Spieß', 'milos38@example.net')
(1217, 'Bachmann', 'seidelheribert@example.net')
(1306, 'Metz', 'kuehnertmichelle@example.org')
(2234, 'Budig', 'franz-josef70@example.com')
(2385, 'Weiß', 'gittathanel@example.com')
(2438, 'Hecker', 'friedomoechlichen@example.org')
(2558, 'Klemt', 'rkaul@example.net')
(2594, 'Reising', 'berta78@example.org')
(1737, 'Trub', 'ekabus@example.net')
(1757, 'Mangold', 'iauch-schlauchin@example.com')
(1871, 'Bruder', 'kaulerdal@example.com')
(2011, 'Hahn', 'baehrstephen@example.net')
(2188, 'Faust', 'hamannvinzenz@example.com')
(2210, 'Haase', 'sabine92@example.com')
(2671, 'Rädel', 'hentschellukas@example.org')
(2677, 'Benthin', 'drubekrem@example.com')
(2763, 'Bonbach', 'trubgitte@example.com')
(3484, 'Killer', 'schmiedthajo@example.com')
(2902, 'Ritter', 'clarissaloechel@example.net')
(3053, 'Metz', 'dietzgabriele@example.com')
(3193, 'Lübs', 'ireinhardt@example.com')
(3245, 'Löwer', 'trogge@example.org')
(3275, 'Kabus', 'hennerspiess@example.net')
(4309, 'Sauer', 'jaentschwolf@example.com')
(4351, 'Eigenwillig', 'dolores36@example.org')
(4453, 'Klotz', 'lachmanngretl@example.net')
(3644, 'Winkler', 'heinz-werner24@example.com')
(3670, 'Spieß', 'cnette@example.net')
(3683, 'Striebitz', 'doeringberndt@example.com')
(3813, 'Löffler', 'zadler@example.net')
(3934, 'Haering', 'irmikraushaar@example.net')
(3979, 'Hendriks', 'uheser@example.com')
(4607, 'Löwer', 'hans-rudolftrupp@example.com')
(4684, 'Römer', 'xloeffler@example.net')
(4715, 'Dowerg', 'ismetwirth@example.com')
(5352, 'Mosemann', 'swetlanagude@example.net')
(5433, 'Hoffmann', 'ladeckachim@example.net')
(4806, 'Bruder', 'lneuschaefer@example.org')
(4938, 'Bolnbach', 'bruderleokadia@example.net')
(4949, 'Nerger', 'frieder15@example.org')
(5065, 'Steuer', 'korbinianbaum@example.org')
(5177, 'Bloch', 'fweihmann@example.org')
(5247, 'Seip', 'mzimmer@example.net')
(5272, 'Losekann', 'fjunk@example.com')
(5293, 'Karge', 'baehrgabriela@example.org')
(5300, 'Jähn', 'stumpfotfried@example.org')
(6183, 'Putz', 'hans-h39@example.com')
(6347, 'Rose', 'guntergroettner@example.org')
(6387, 'Budig', 'dittmarkroker@example.org')
(6391, 'Roskoth', 'traugott89@example.org')
(6395, 'Rogner', 'mirco05@example.com')
(6473, 'Killer', 'zbarth@example.org')
(5633, 'Kaul', 'xkuehnert@example.com')
(5653, 'Stroh', 'shornich@example.org')
(5666, 'Mies', 'irmingardstroh@example.net')
(5735, 'auch Schlauchin', 'kraushaarhanife@example.net')
(5749, 'Hölzenbecher', 'eweinhage@example.org')
(5935, 'Kranz', 'patrick72@example.net')
(5963, 'Aumann', 'heydrichrecep@example.org')
(5989, 'Grein Groth', 'dowergarzu@example.org')
(6044, 'Roskoth', 'dennisbruder@example.com')
(6491, 'Mende', 'kitzmannwalli@example.net')
(6659, 'Zänker', 'erkankoch-ii@example.com')
(7286, 'Franke', 'seberhardt@example.org')
(7482, 'Adler', 'carmelo91@example.org')
(7514, 'Weinhage', 'schachtnadja@example.com')
(6767, 'Wähner', 'cemal60@example.org')
(6787, 'Roskoth', 'hildagutknecht@example.com')
(6795, 'Bohlander', 'friedrich-wilhelm84@example.com')
(6933, 'Huhn', 'emiliakabus@example.com')
(6938, 'Wulf', 'grazyna96@example.net')
(7058, 'Seip', 'schachtnotburga@example.org')
(7209, 'Becker', 'ewagner@example.org')
(8080, 'Schüler', 'stolzesigurd@example.net')
(7539, 'Davids', 'iwanbauer@example.org')
(7631, 'Kostolzin', 'sebastiano55@example.net')
(7700, 'Drubin', 'hedwig40@example.com')
(8467, 'Trupp', 'bwalter@example.net')
(8531, 'Wirth', 'dhaenel@example.org')
(8536, 'Wilms', 'ljacobi-jaeckel@example.net')
(8541, 'Zorbach', 'helga77@example.com')
(8585, 'Linke', 'gnatzfriedl@example.com')
(8610, 'Rohleder', 'ygierschner@example.com')
(8623, 'Gehringer', 'georgine64@example.org')
(8642, 'Gehringer', 'qneureuther@example.org')
(9294, 'Schulz', 'renatarudolph@example.org')
(9453, 'Staude', 'sorgatzkonrad@example.net')
(8716, 'Ritter', 'oswaldrust@example.net')
(8785, 'Heydrich', 'birthe97@example.com')
(8899, 'Krause', 'trauteklemt@example.com')
(8987, 'Salz', 'jaroslaw69@example.org')
(9191, 'Hentschel', 'schottinkarlheinz@example.org')
(10069, 'Nerger', 'rahelsteckel@example.org')
(10107, 'Sölzer', 'erdogangirschner@example.org')
(10181, 'Liebelt', 'davidsjo@example.com')
(10330, 'Bolzmann', 'ahmedschmiedt@example.net')
(9504, 'Ring', 'heinz-georgalbers@example.com')
(9776, 'Weihmann', 'seidelcharlotte@example.net')
(9849, 'Speer', 'kristine80@example.net')
(10441, 'Heß', 'biankapieper@example.com')
(10448, 'Putz', 'hans-friedrich23@example.com')
(10491, 'Bonbach', 'caterina75@example.com')
(10504, 'Bonbach', 'izahn@example.com')
(10592, 'Heintze', 'gudrun18@example.net')
(11156, 'Schenk', 'larissa33@example.org')
(11252, 'Thanel', 'jirizahn@example.com')
(11329, 'Pruschke', 'huelya71@example.com')
(10669, 'Herrmann', 'krausstanislav@example.net')
(10736, 'Scholl', 'jharloff@example.com')
(10872, 'Fischer', 'guentereberhardt@example.net')
(10981, 'Dehmel', 'vnette@example.com')
(11048, 'Vogt', 'valeritrueb@example.com')
(12124, 'Caspar', 'gerwinzaenker@example.net')
(12227, 'Warmer', 'christine44@example.com')
(12256, 'Henck', 'fauststanislaus@example.com')
(11398, 'Mans', 'heserfanny@example.net')
(11523, 'Kade', 'pruschkeigor@example.com')
(11604, 'Bärer', 'ildiko16@example.org')
(11702, 'Schmiedecke', 'wbluemel@example.net')
(11749, 'Kabus', 'scheelcharlotte@example.com')
(11792, 'Kobelt', 'erikalinke@example.com')
(11891, 'Söding', 'lweinhage@example.org')
(12437, 'Metz', 'rosefischer@example.org')
(13102, 'Hesse', 'cgutknecht@example.org')
(13157, 'Zimmer', 'vschacht@example.net')
(13177, 'Sauer', 'zadolph@example.com')
(13293, 'Reising', 'hillersabri@example.org')
(12591, 'Neureuther', 'weberhardt@example.net')
(12669, 'Werner', 'mwende@example.org')
(12962, 'Liebelt', 'kabusdorothea@example.org')
(12966, 'Lindner', 'ruppersbergerklaas@example.org')
(13015, 'Flantz', 'baehrkorbinian@example.org')
(13957, 'Eckbauer', 'gerdreinhardt@example.org')
(13991, 'Jähn', 'siglinde67@example.net')
(14026, 'Krein', 'evelynhoefig@example.com')
(14102, 'Seifert', 'uschiwende@example.com')
(13353, 'Stroh', 'hconradi@example.com')
(13432, 'Kühnert', 'huebeldominik@example.org')
(13587, 'Heydrich', 'elzbietabinner@example.net')
(13604, 'Schulz', 'cschuchhardt@example.org')
(13617, 'Lachmann', 'adolpheva-maria@example.com')
(13714, 'Heintze', 'viviane85@example.net')
(14329, 'Henk', 'bohlanderbrigitte@example.net')
(14331, 'Jacob', 'klaus-juergen45@example.com')
(14409, 'Wesack', 'berendbudig@example.org')
(14411, 'Trapp', 'henning95@example.org')
(15094, 'Siering', 'marcus59@example.org')
(14484, 'Geißler', 'hans-joachim00@example.com')
(14606, 'Etzold', 'irenarosenow@example.org')
(14685, 'Scholtz', 'mbloch@example.com')
(14690, 'Trapp', 'felizitasschaefer@example.org')
(14712, 'Rosemann', 'tmargraf@example.net')
(14747, 'Striebitz', 'annegret33@example.com')
(14755, 'Hartmann', 'emuelichen@example.org')
(14950, 'Buchholz', 'bbloch@example.net')
(26766, 'Bohlander', 'ruthullmann@example.com')
(28453, 'Pergande', 'max03@example.com')
(30811, 'Neureuther', 'lotti05@example.net')
(24799, 'Gierschner', 'nadajacobi-jaeckel@example.net')
(24897, 'Börner', 'veronikahesse@example.net')
(26927, 'Dörr', 'ackermannguenter@example.com')
(28965, 'Mende', 'marinagiess@example.com')
(28981, 'Schuster', 'rohtdirk@example.com')
(24946, 'Mies', 'tlustekrotraud@example.com')
(29081, 'Zorbach', 'isidorgorlitz@example.net')
(31110, 'Klemm', 'bernhard07@example.com')
(31157, 'Bloch', 'reni36@example.net')
(25131, 'Tlustek', 'ahenschel@example.org')
(28642, 'Ladeck', 'paffrathfabian@example.com')
(28693, 'Adler', 'christina42@example.com')
(29200, 'Gertz', 'rudolphrudolph@example.com')
(29225, 'Ortmann', 'dietzelzbieta@example.net')
(29230, 'Roskoth', 'eminegiess@example.net')
(28773, 'Herrmann', 'gertraud47@example.org')
(28783, 'Säuberlich', 'grafarnim@example.org')
(29305, 'Jopich', 'ydowerg@example.net')
(29312, 'Junk', 'lindnerjolanthe@example.net')
(29354, 'Sölzer', 'annewinkler@example.com')
(26988, 'Hiller', 'yhenk@example.com')
(27005, 'Heintze', 'junitztheodoros@example.net')
(29422, 'Schlosser', 'jmuelichen@example.net')
(23569, 'Faust', 'valeriaschmidt@example.com')
(23630, 'Börner', 'lorettasoeding@example.org')
(27172, 'Lübs', 'adolf76@example.net')
(27188, 'Etzler', 'tritter@example.net')
(29519, 'Patberg', 'gerwin03@example.net')
(23737, 'Ortmann', 'juettnerrosina@example.com')
(25603, 'Paffrath', 'stephengunpf@example.com')
(25616, 'Reuter', 'vschleich@example.org')
(25637, 'Eigenwillig', 'cichoriuscalogero@example.net')
(23865, 'Seifert', 'connygunpf@example.net')
(25728, 'Pölitz', 'anneke50@example.com')
(25801, 'Junitz', 'stumpfedmund@example.com')
(27413, 'Hering', 'fziegert@example.com')
(27418, 'Döhn', 'roselinde95@example.com')
(29779, 'Schomber', 'lindaueduard@example.org')
(24010, 'Tintzmann', 'qklapp@example.com')
(25905, 'Fröhlich', 'doeringrobby@example.net')
(27468, 'Dehmel', 'kamil11@example.net')
(29938, 'Köhler', 'hans-georg71@example.net')
(29985, 'Mülichen', 'geroldkoch@example.net')
(24080, 'Köster', 'helenekranz@example.net')
(25985, 'Müller', 'ojuncken@example.com')
(25997, 'Kuhl', 'kathy92@example.net')
(30041, 'Bonbach', 'denise66@example.com')
(26086, 'Putz', 'hans-guenter90@example.net')
(30258, 'Beer', 'editbriemer@example.net')
(24323, 'Striebitz', 'miesmia@example.net')
(24333, 'Gerlach', 'qbuchholz@example.net')
(24364, 'Jockel', 'othanel@example.net')
(26238, 'Trommler', 'handehedy@example.com')
(26292, 'Huhn', 'zlatkokiller@example.org')
(27884, 'Kramer', 'norbertweimer@example.com')
(30287, 'Ullmann', 'heuseraenne@example.com')
(30357, 'Klingelhöfer', 'boucseinwilli@example.net')
(24440, 'Zobel', 'istey@example.com')
(26406, 'Hamann', 'rsontag@example.org')
(28045, 'Eimer', 'trubsusanna@example.net')
(28086, 'Budig', 'burckhardgunpf@example.org')
(30448, 'Etzler', 'siegmar94@example.org')
(30468, 'Schlosser', 'helmtrudmuehle@example.com')
(26560, 'Kroker', 'xhoefig@example.org')
(24748, 'Schleich', 'pmueller@example.com')
(24781, 'Biggen', 'kallertanthony@example.net')
(26617, 'Vogt', 'mariele40@example.com')
(28305, 'Lange', 'paula42@example.org')
(30675, 'Metz', 'tilly94@example.net')
(30723, 'Tröst', 'ismet24@example.org')
(30755, 'Margraf', 'adelheidwerner@example.org')
(22888, 'Geißler', 'wsegebahn@example.com')
(22980, 'Zahn', 'weihmannhans-henning@example.net')
(16802, 'Döhn', 'schulzhans-guenther@example.org')
(16824, 'Eberhardt', 'heiderose25@example.net')
(18889, 'Hering', 'francoiseaustermuehle@example.com')
(20846, 'Fiebig', 'jullmann@example.org')
(20862, 'Carsten', 'weinhagevictor@example.net')
(20944, 'Warmer', 'wolfgangseifert@example.com')
(23079, 'Keudel', 'fsegebahn@example.net')
(23123, 'Hethur', 'elenorestolze@example.org')
(16960, 'Heydrich', 'oholsten@example.net')
(17005, 'Schweitzer', 'thieshans-christian@example.com')
(18972, 'Schmiedt', 'hellmuthschuster@example.net')
(23197, 'Birnbaum', 'axel36@example.com')
(17134, 'Mitschke', 'ljudmila86@example.org')
(23360, 'Sölzer', 'roskothgerti@example.com')
(17226, 'Ziegert', 'meral11@example.org')
(19239, 'Seip', 'ladeckljubica@example.com')
(19259, 'Rohleder', 'holtoswald@example.org')
(21307, 'Geisler', 'bekirditschlerin@example.com')
(15314, 'Dippel', 'bonbachviktoria@example.com')
(17390, 'Lübs', 'thomasbeier@example.org')
(21376, 'Hettner', 'hscholz@example.com')
(21412, 'Hein', 'schleichdietlind@example.com')
(15369, 'Bien', 'lweiss@example.net')
(15405, 'Ackermann', 'wolfheinrich@example.org')
(15437, 'Sauer', 'auch-schlauchinellinor@example.com')
(19485, 'Boucsein', 'lorenz70@example.com')
(21505, 'Bender', 'cora49@example.org')
(15488, 'Rudolph', 'zbriemer@example.com')
(17610, 'Stahr', 'ldoerschner@example.com')
(21630, 'Zobel', 'aziz59@example.org')
(15670, 'Mohaupt', 'aynur52@example.com')
(17727, 'Putz', 'nadjaniemeier@example.org')
(19696, 'Dörr', 'vitus56@example.net')
(21746, 'Barkholz', 'hubertbachmann@example.net')
(21774, 'Hentschel', 'rkruschwitz@example.org')
(15804, 'Wulff', 'oschmiedecke@example.net')
(17900, 'Briemer', 'ehendriks@example.net')
(21884, 'Wohlgemut', 'ignazgraf@example.com')
(21939, 'Knappe', 'spatberg@example.com')
(15985, 'Geißler', 'hheser@example.org')
(17919, 'Mitschke', 'atzlerhanne-lore@example.org')
(17937, 'Seip', 'lisettefaust@example.net')
(19954, 'Rohleder', 'kranzlisbeth@example.org')
(20005, 'Jäkel', 'adelheid08@example.net')
(16035, 'Putz', 'pnerger@example.com')
(16082, 'Kambs', 'dpreiss@example.net')
(18074, 'Mitschke', 'blochbarbara@example.net')
(20077, 'Scholtz', 'ron38@example.net')
(22196, 'Trommler', 'zrohleder@example.org')
(16195, 'Gorlitz', 'irena95@example.org')
(16197, 'Pechel', 'aumanncarina@example.org')
(18166, 'Seifert', 'liebeltmarkus@example.net')
(18226, 'Hentschel', 'qkroker@example.org')
(18260, 'Kruschwitz', 'yfritsch@example.org')
(18272, 'Peukert', 'eggert73@example.net')
(20253, 'Schleich', 'tilojunk@example.org')
(22244, 'Hethur', 'lindauhildegard@example.net')
(18348, 'Eigenwillig', 'jiri53@example.net')
(18390, 'Paffrath', 'xkoester@example.net')
(20352, 'Börner', 'romanabriemer@example.net')
(20365, 'Hettner', 'ykranz@example.org')
(22476, 'Weiß', 'davidsjuergen@example.net')
(18444, 'Jopich', 'schuchhardtcatherine@example.org')
(18514, 'Gehringer', 'sauerpeter-michael@example.com')
(20454, 'Heuser', 'eberthbalthasar@example.com')
(20531, 'Metz', 'kuhlsaban@example.org')
(20558, 'Bohlander', 'cmende@example.net')
(22520, 'Hörle', 'vbachmann@example.com')
(22596, 'Kabus', 'lucie60@example.org')
(22605, 'Kobelt', 'holmfischer@example.net')
(16504, 'Textor', 'tlustekfiliz@example.net')
(18579, 'Barth', 'norma57@example.net')
(18600, 'Warmer', 'maurice67@example.org')
(20621, 'Jähn', 'elsebruder@example.net')
(20657, 'Schwital', 'heidelore99@example.com')
(16713, 'Bauer', 'sontagjoseph@example.com')
(18723, 'Kruschwitz', 'thilo05@example.com')
(20754, 'Neureuther', 'hans-detlef09@example.net')
(20757, 'Stumpf', 'hermine22@example.com')
(22776, 'Finke', 'nadjakoester@example.org')
(22794, 'Reichmann', 'iheinz@example.com')
(42832, 'Gorlitz', 'rosalie28@example.net')
(42885, 'Drewes', 'wlosekann@example.com')
(44494, 'Eckbauer', 'ingrid01@example.net')
(44536, 'Koch', 'hans-willivogt@example.com')
(46873, 'Gotthard', 'hornichandreas@example.org')
(46891, 'auch Schlauchin', 'hartungalois@example.org')
(46931, 'Christoph', 'vtrub@example.com')
(40937, 'Knappe', 'udoschottin@example.com')
(42936, 'Stadelmann', 'albersvaleska@example.net')
(42951, 'Vollbrecht', 'gweimer@example.com')
(42979, 'Franke', 'bernhardine71@example.com')
(44643, 'Schweitzer', 'egon34@example.net')
(41022, 'Finke', 'gudrunjopich@example.net')
(41068, 'Mülichen', 'magnus04@example.com')
(45088, 'Seifert', 'hoevelsiegried@example.com')
(47220, 'Hecker', 'dwulf@example.org')
(44821, 'Kambs', 'klappsedat@example.net')
(44826, 'Budig', 'mechthild17@example.com')
(44906, 'Kabus', 'sfechner@example.com')
(45266, 'Römer', 'resilosekann@example.org')
(45046, 'Drub', 'erhardt39@example.com')
(45327, 'Haase', 'zorbacheva-maria@example.org')
(45390, 'Adolph', 'xgute@example.com')
(45414, 'Bien', 'silvestersalz@example.org')
(39479, 'Hornig', 'mkrause@example.net')
(41473, 'Buchholz', 'schuchhardtsiegward@example.org')
(43101, 'Lachmann', 'emmakraus@example.net')
(45512, 'Kostolzin', 'jschueler@example.com')
(45529, 'Dehmel', 'bauerkatarina@example.net')
(45530, 'Mitschke', 'fjunck@example.org')
(39574, 'Buchholz', 'ingeloreconradi@example.net')
(39597, 'Henck', 'roselinde42@example.org')
(39667, 'Kraushaar', 'vladosauer@example.net')
(41508, 'Misicher', 'zweiss@example.org')
(41560, 'Lehmann', 'schuchhardtjozef@example.com')
(43169, 'Ladeck', 'hans23@example.com')
(43183, 'Kohl', 'salzraik@example.net')
(45590, 'Eberhardt', 'gbuchholz@example.com')
(45613, 'Weimer', 'kbinner@example.net')
(39811, 'Rogge', 'eric61@example.com')
(41632, 'Süßebier', 'isaholzapfel@example.org')
(41687, 'Hermann', 'lina08@example.net')
(41720, 'Dobes', 'seidelluka@example.net')
(41722, 'Schmidt', 'ajockel@example.com')
(43352, 'Eigenwillig', 'hakanernst@example.org')
(39924, 'Weller', 'amalie65@example.com')
(41796, 'Pärtzelt', 'bradisch@example.net')
(43450, 'Lorch', 'tgehringer@example.org')
(45884, 'Buchholz', 'mina14@example.net')
(45885, 'Pölitz', 'uheinrich@example.com')
(45897, 'Klemt', 'branka10@example.net')
(39998, 'Drewes', 'kkambs@example.net')
(43531, 'Mühle', 'ahmadwulff@example.net')
(45993, 'Eberth', 'zorbachhans-henning@example.org')
(46075, 'Conradi', 'fsoelzer@example.org')
(42026, 'Hartung', 'scheuermanndaniel@example.com')
(43712, 'Hertrampf', 'annhaering@example.org')
(46079, 'Plath', 'swenkreusel@example.org')
(46088, 'Eberhardt', 'groettnermonika@example.com')
(46160, 'Blümel', 'agnesdoering@example.org')
(46168, 'Harloff', 'lindauhansjuergen@example.net')
(40214, 'Hornich', 'magda19@example.org')
(40267, 'Eberth', 'taniaschmiedecke@example.org')
(42138, 'Wernecke', 'dehmelsiegward@example.org')
(42141, 'Loos', 'uklingelhoefer@example.org')
(42168, 'Jüttner', 'bianca77@example.org')
(42238, 'Hering', 'erikajuettner@example.org')
(43819, 'Fechner', 'klapphartmuth@example.org')
(46206, 'Winkler', 'emmyehlert@example.net')
(46222, 'Schmiedecke', 'krebselke@example.com')
(40364, 'Heser', 'oxana12@example.org')
(40400, 'Junck', 'nwieloch@example.com')
(42295, 'Zirme', 'scholtzuwe@example.org')
(42347, 'Matthäi', 'scholtzhertha@example.org')
(43995, 'Benthin', 'stephanknappe@example.com')
(40569, 'Killer', 'alida53@example.com')
(40587, 'Ziegert', 'sylviekade@example.org')
(42454, 'Johann', 'annita77@example.com')
(42477, 'Oderwald', 'pkranz@example.net')
(42499, 'Striebitz', 'nurtenkraus@example.net')
(42512, 'Winkler', 'wseip@example.com')
(44126, 'Steckel', 'eimermehmet@example.com')
(46519, 'Heydrich', 'jolanthe22@example.net')
(44251, 'Heintze', 'heinz-dieterherrmann@example.net')
(44254, 'Söding', 'salzgaby@example.org')
(46674, 'Gunpf', 'hinrich08@example.org')
(40835, 'Bien', 'fliegnernatalja@example.com')
(42728, 'Hartmann', 'heinz-joachimrosemann@example.org')
(44366, 'Heidrich', 'oswinloewer@example.org')
(44401, 'Junck', 'gerardkramer@example.com')
(46754, 'Thies', 'gesinegroettner@example.net')
(46810, 'Paffrath', 'kfaust@example.com')
(32819, 'Lindau', 'lhettner@example.com')
(32833, 'Klotz', 'constancedoehn@example.com')
(32862, 'Schomber', 'friedrich-karlflantz@example.net')
(32863, 'Gotthard', 'henrike63@example.com')
(32867, 'Ortmann', 'stadelmannurs@example.org')
(36958, 'Becker', 'ottokar31@example.com')
(33015, 'Flantz', 'ljuncken@example.net')
(35089, 'Bien', 'kathy74@example.net')
(37050, 'Ruppersberger', 'svea86@example.com')
(37096, 'Ladeck', 'scholtzrico@example.org')
(39201, 'Rose', 'anastasios90@example.org')
(35174, 'Schomber', 'dittmar20@example.net')
(35201, 'Mentzel', 'bruderreni@example.org')
(37160, 'Klemm', 'margaretawohlgemut@example.net')
(37178, 'Klingelhöfer', 'annelenebiggen@example.net')
(37179, 'Kramer', 'fpechel@example.org')
(37239, 'Girschner', 'hofmannroland@example.com')
(39343, 'Eigenwillig', 'plehmann@example.org')
(39392, 'Bruder', 'wchristoph@example.com')
(39424, 'Reuter', 'ahmadaustermuehle@example.com')
(33222, 'Fritsch', 'sigurd33@example.org')
(33291, 'Riehl', 'imrewiek@example.org')
(35266, 'Klapp', 'froehlichalexandre@example.com')
(35317, 'Schottin', 'h-dieter75@example.net')
(35337, 'Scheel', 'helmuth78@example.org')
(37325, 'Radisch', 'raissa83@example.org')

Gibt das Durchschnittliche Gehalt der Mitarbeiter und den Standort der Reisebüros an.

In [16]:
cursor.execute("""
SELECT r.FNr, r.Standort, AVG(m.Gehalt) AS Durchschnittsgehalt
FROM Mitarbeiter m 
JOIN Reisebuero r ON m.FNr = r.FNr
GROUP BY r.FNr, r.Standort
HAVING AVG(m.Gehalt)  > 2000
""")

rows = cursor.fetchall()
for row in rows:
    print(row)

(6, 'Rottweil', 2266.4401041666665)
(2, 'Einbeck', 2280.4389423076923)
(4, 'Flöha', 2202.893292682927)
(5, 'Hofgeismar', 2257.0217592592594)
(3, 'Griesbach Rottal', 2229.7818181818184)

Gibt die Mitarbeiter aus, welche im letzten Jahr an mindestens 5 Kunden Reisen verkauft haben. Die Reihenfolge ist absteigend nach der Anzahl der Verkäufe sortiert.

In [17]:
cursor.execute("""
SELECT m.MNr, m.Nachname, COUNT(DISTINCT k.KNr) AS Verkaufsanzahl
FROM Mitarbeiter m
JOIN SchliesstAb s ON m.MNr = s.MNr
JOIN Kunde k ON s.KNr = k.KNr
JOIN Reise r ON s.ID = r.ID
GROUP BY m.MNr, m.Nachname
HAVING COUNT(DISTINCT k.KNr) > 5
ORDER BY Verkaufsanzahl DESC

""")

rows = cursor.fetchall()
for row in rows:
    print(row)

(498, 'Patberg', 13)
(352, 'Schenk', 11)
(178, 'Langern', 10)
(226, 'Schmiedecke', 10)
(387, 'Liebelt', 9)
(457, 'Bolnbach', 9)
(345, 'Scheibe', 9)
(401, 'Binner', 9)
(472, 'Meister', 9)
(189, 'Schomber', 9)
(382, 'Gertz', 9)
(398, 'Hellwig', 8)
(42, 'Oestrovsky', 8)
(434, 'Lehmann', 8)
(338, 'Rosenow', 8)
(202, 'Hövel', 8)
(276, 'Zorbach', 8)
(305, 'Wieloch', 8)
(388, 'Nette', 8)
(23, 'Striebitz', 8)
(142, 'Hendriks', 8)
(121, 'Mangold', 8)
(238, 'Hesse', 8)
(4, 'Wulf', 7)
(475, 'Stolze', 7)
(312, 'Mitschke', 7)
(62, 'Jacob', 7)
(258, 'Heuser', 7)
(35, 'Speer', 7)
(20, 'Weimer', 7)
(393, 'Gehringer', 7)
(160, 'Müller', 7)
(435, 'Aumann', 7)
(196, 'Keudel', 7)
(437, 'Eigenwillig', 7)
(94, 'Weihmann', 7)
(25, 'Textor', 7)
(260, 'Schweitzer', 7)
(336, 'Bloch', 7)
(433, 'Kabus', 7)
(16, 'Warmer', 7)
(311, 'Preiß', 7)
(422, 'Bolander', 7)
(212, 'Bloch', 7)
(58, 'Grein Groth', 7)
(343, 'Graf', 7)
(262, 'Pergande', 7)
(100, 'Krein', 7)
(183, 'Rogner', 7)
(270, 'Scheibe', 7)
(213, 'Schleich', 7)
(253, 'Gunpf', 6)
(372, 'Spieß', 6)
(10, 'Wohlgemut', 6)
(495, 'Zimmer', 6)
(486, 'Klingelhöfer', 6)
(119, 'Hänel', 6)
(84, 'Finke', 6)
(467, 'Albers', 6)
(117, 'Hesse', 6)
(217, 'Eberth', 6)
(321, 'Pölitz', 6)
(315, 'Bähr', 6)
(97, 'Jopich', 6)
(197, 'Margraf', 6)
(482, 'Kabus', 6)
(296, 'Scheuermann', 6)
(445, 'Hartmann', 6)
(2, 'Rudolph', 6)
(454, 'Ehlert', 6)
(394, 'Atzler', 6)
(395, 'Rädel', 6)
(419, 'Pohl', 6)
(179, 'Stiebitz', 6)
(290, 'Liebelt', 6)
(3, 'Hiller', 6)
(53, 'Vollbrecht', 6)
(496, 'Weimer', 6)
(499, 'Kobelt', 6)
(95, 'Jähn', 6)
(195, 'Eberth', 6)
(293, 'Otto', 6)
(470, 'Seifert', 6)
(366, 'Ernst', 6)
(236, 'Lehmann', 6)
(369, 'Kostolzin', 6)
(209, 'Käster', 6)
(30, 'Beckmann', 6)
(407, 'Trüb', 6)
(161, 'Heydrich', 6)
(410, 'Seidel', 6)
(26, 'Noack', 6)
(426, 'Mentzel', 6)
(126, 'Gutknecht', 6)
(384, 'Steinberg', 6)
(327, 'Misicher', 6)
(462, 'Schmiedecke', 6)
(307, 'Lorch', 6)
(15, 'Pohl', 6)
(354, 'Schuchhardt', 6)
(5, 'Fischer', 6)
(257, 'Weitzel', 6)
(474, 'Adler', 6)
(348, 'Hellwig', 6)
(247, 'Lorch', 6)
(436, 'Scholz', 6)
(237, 'Vogt', 6)
(221, 'Mitschke', 6)
(409, 'Bärer', 6)
(185, 'Beckmann', 6)
(230, 'Weihmann', 6)

### Update und Delete Stored Procedure

### Delete Stored Procedure:

In [18]:
cursor.execute("""select count(BNr)from Buchung""" )
count_before = cursor.fetchone()[0]
print("Anzahl Buchungen VOR dem Löschen:", count_before)

cursor.execute("""
    CREATE OR REPLACE PROCEDURE delete_buchungen_mit_kunden_aus_krems_mit_vorname_pr_m(
            p_stadt IN VARCHAR2,
            p_vorname_pr IN VARCHAR2
    )
    AS
    BEGIN 
            DELETE FROM Buchung
            WHERE KNr IN(
               SELECT KNr FROM Kunde
               WHERE Stadt=p_stadt AND Vorname LIKE p_vorname_pr || '%'
            );
    END;          
               """)
connection.commit()
cursor.callproc("delete_buchungen_mit_kunden_aus_krems_mit_vorname_pr_m", ["Krems", "M"])
connection.commit()


cursor.execute("""select count(BNr)from Buchung""" )

count_after = cursor.fetchone()[0]
print("Anzahl Buchungen NACH dem Löschen:", count_after)

Anzahl Buchungen VOR dem Löschen: 2000
Anzahl Buchungen NACH dem Löschen: 1982

### Update Stored Procedure

In [19]:
cursor.execute('''
CREATE OR REPLACE PROCEDURE UpdateKunde(
k_KNr IN INTEGER,
k_Email IN VARCHAR2
) IS
BEGIN
    UPDATE Kunde
    SET Email=k_Email
    WHERE KNr=k_KNr;
COMMIT;
END;
''')

In [20]:
cursor.execute("SELECT KNr, Email FROM Kunde WHERE KNr=1")
for row in cursor.fetchall():
    print("Ausgabe der Email des Kunden mit KNr=1 VOR der Änderung der Email:",row)

cursor.execute('''
BEGIN
    UpdateKunde(:1,:2);
END;
''', [1,'muelleranneliese@example.com'])
connection.commit()

cursor.execute("SELECT KNr, Email FROM Kunde WHERE KNr=1")
for row in cursor.fetchall():
    print("Ausgabe der Email des Kunden mit KNr=1 NACH der Änderung der Email:", row)

Ausgabe der Email des Kunden mit KNr=1 VOR der Änderung der Email: (1, 'ali53@example.net')
Ausgabe der Email des Kunden mit KNr=1 NACH der Änderung der Email: (1, 'muelleranneliese@example.com')

### Indexing und Query-Optimierung

In [21]:
cursor.execute("EXPLAIN PLAN FOR SELECT Stadt FROM Kunde WHERE Stadt = 'Wien'")
cursor.execute("""
    SELECT * FROM TABLE(DBMS_XPLAN.DISPLAY())
""")
for row in cursor.fetchall():
    print(row[0])

Plan hash value: 3784778543

---------------------------------------------------------------------------
| Id  | Operation         | Name  | Rows  | Bytes | Cost (%CPU)| Time     |
---------------------------------------------------------------------------
|   0 | SELECT STATEMENT  |       | 13027 |   343K|   239   (1)| 00:00:01 |
|*  1 |  TABLE ACCESS FULL| KUNDE | 13027 |   343K|   239   (1)| 00:00:01 |
---------------------------------------------------------------------------

Predicate Information (identified by operation id):
---------------------------------------------------

   1 - filter("STADT"='Wien')

Note
-----
   - dynamic statistics used: dynamic sampling (level=2)

In [22]:
cursor.execute("CREATE INDEX idx ON Kunde (Stadt)")
connection.commit()

cursor.execute("EXPLAIN PLAN FOR SELECT Stadt FROM Kunde WHERE Stadt = 'Wien'")
cursor.execute("""
    SELECT * FROM TABLE(DBMS_XPLAN.DISPLAY())
""")
for row in cursor.fetchall():
    print(row[0])

Plan hash value: 2353645359

-------------------------------------------------------------------------
| Id  | Operation        | Name | Rows  | Bytes | Cost (%CPU)| Time     |
-------------------------------------------------------------------------
|   0 | SELECT STATEMENT |      | 13027 |   343K|    34   (0)| 00:00:01 |
|*  1 |  INDEX RANGE SCAN| IDX  | 13027 |   343K|    34   (0)| 00:00:01 |
-------------------------------------------------------------------------

Predicate Information (identified by operation id):
---------------------------------------------------

   1 - access("STADT"='Wien')

Note
-----
   - dynamic statistics used: dynamic sampling (level=2)

Es gibt Unterschiede bei Operation, Name und Cost (%CPU). Anhand der Operation und des Namens kann man sehen, dass nach der Indexierung der Index zur Suche nach der Stadt 'Wien' verwendet wurde. Ebenfalls können die CPU Kosten verglichen werden - hier sieht man, dass die Indexierung bezüglich der CPU-Kosten günstiger ist.

In [23]:
#Index löschen
#cursor.execute("DROP INDEX idx")
#connection.commit()

### Tabellen löschen

In [24]:
#'''
drop_tables=[
     "SchliesstAb",
    "Buchung",
    "Kunde",
    "FuehrtZu",
    "Reise",
    "Leitung",
    "Chef",
    "Mitarbeiter",
    "Reisebuero"
]


for table in drop_tables:
    try:
        cursor.execute(f"DROP TABLE {table} CASCADE CONSTRAINTS")
        print(f"Tabelle {table} gelöscht.")
    except Exception as e:
        print(f"Tabelle {table} konnte nicht gelöscht werden: {e}")
connection.commit()
#''' 

try:
    cursor.execute("DROP TRIGGER trg_reisebuero_auto_incrt")
    print("Trigger wurde gelöscht.")
except Exception as e:
    if "ORA-04080" in str(e):
        print("Trigger existiert nicht – kein Problem.")
    else:
        raise 


try:
    cursor.execute("DROP SEQUENCE seq_fnr")
    print("Sequenz gelöscht.")
except Exception as e:
    if "ORA-02289" in str(e):  
        print("Sequenz existiert nicht – kein Problem.")
    else:
        raise

Tabelle SchliesstAb gelöscht.
Tabelle Buchung gelöscht.
Tabelle Kunde gelöscht.
Tabelle FuehrtZu gelöscht.
Tabelle Reise gelöscht.
Tabelle Leitung gelöscht.
Tabelle Chef gelöscht.
Tabelle Mitarbeiter gelöscht.
Tabelle Reisebuero gelöscht.
Trigger existiert nicht – kein Problem.
Sequenz gelöscht.

### Close Connection

In [25]:
#connection.close()